/******************************************
/* CSS
/*******************************************/


/* Box Model Hack */
*{
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(0, rgba(255, 255, 25, .1), rgba(255, 255, 255, .1)), url("../img/NASAGalaxia.jpg");
  margin:0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgba(232, 248, 248, 1);
}

h1 {
  margin-bottom: 0px;
  font-size: 5rem;
  font-family: 'Josefin Sans', sans-serif;  
}

.top {
  margin-top: 8vh;
  text-align: center;
}

.container {
  padding-top: 0;
  margin-top: 0;
  position: relative;
  text-align: center;
}

.userInput {
  text-align: center;
  margin-top: 20px;
}

input {
    width: 150px;
    height: 30px;
    background-color: rgba(255, 255, 255, .3);
    color:rgba(232, 248, 248, 1);
    font-weight: bold;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
  }

button {
  width: 150px;
  height: 30px;
  background-color:  transparent;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2.2rem;
  color:rgba(232, 248, 248, 1);
  display: inline-block;
  margin-bottom: 10px;
}

h2 {
  font-size: 2.3rem;
  color: rgba(232, 248, 248, 1);
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100vw;
}


.photoCredit {
  max-width: 90vw;
  margin-left: 5%;
  color: white;
  font-size: 1.6rem;
  text-align: end;
}
 


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media (max-width: 500px) {
h1 {
  font-size: 5rem;
}
input {
  font-size: 18px;
}
button {
  font-size: 4rem;
}
}

